body {
  width: 100%;
  /* max-width: 640px; */
  margin: auto;
  font-family: "Smythe", system-ui;
  /* font-size:20px; */
}

main {
  background: white;
}

h1 {
  text-align: center;
}

/* Banner section */

.banner {
  position: relative;
}

.banner img {
  display: block;
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.banner-text,
.banner-text-2 {
  font-weight: 800;
  color: orangered;
  position: absolute;
  right: 2rem;
}

.banner-text {
  font-size: 2.5rem;
  top: 1px;
}

.banner-text-2 {
  font-size: 1.5rem;
  top: 42px;
}

/* Menu section */

.menu-row {
  display: flex;
  align-items: center;
  padding: 2em 0.33em;
  border-bottom: 1px solid lightgrey;
}

.menu-img {
  width: 12%;
  height: 12%;
}

.menu-item-info {
  /* parent container for item name, description, price column  */
  display: flex;
  flex-direction: column;
  margin-left: 0.75em;
}

.menu-item-name {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 0.675em;
}

.menu-item-description {
  color: grey;
  font-size: 1.2em;
  padding-bottom: 0.675em;
}

.menu-item-price {
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 0.675em;
}

.btn-add {
  border: 1px solid grey;
  width: 5%;
  height: 5%;
  padding: 1%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 1.25em;
  cursor: pointer;
}

/* Total section  */

.hidden {
  display: none;
}

.item-container {
  display: flex;
  justify-content: space-between; /* Aligns items within the container */
  padding: 0.675em 0; /* Adds some padding for spacing */
  margin-left: 0.75em;
  margin-right: 1.25em;
}

.item,
.price {
  font-size: 1.2em;
  font-weight: bold;
}

.item {
  text-align: left; /* Aligns text of items to the left */
}

.price {
  text-align: right; /* Aligns text of prices to the right */
}

#btn-remove {
  color: grey;
  border: 0px;
  cursor: pointer;
}

#btn-order {
  margin: 0 auto;
  display: block;
  width: 99%;
  height: 50px;
}

#btn-order,
#btn-submit {
  background: #16db99;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  border-color: #16db99;
  cursor: pointer;
}

/* Charge Card Section */
#charge-card-container {
  display: none;
}

#form-charge-card {
  box-sizing: border-box;
  background: white;
  padding: 15px;
  /* next 4 lines center container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* next 5 lines center items in container */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
  /* make sure container displays on top of other containers */
  z-index: 1000;
}

#form-charge-card input {
  /* assure padding, margins, and border counted as width */
  box-sizing: border-box;
  width: 100%;
  /* each item takes full row */
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}
